*.swo
*.swp
/*.taghl
/.buildSettings
/.clang_complete
/.ninja_deps
/.ninja_log
/.vimrc
/.ycm_extra_conf.py
/.ycm_extra_conf.pyc
/CMakeCache.txt
/CMakeFiles
/Makefile
/bin
/build
/build.ninja
/cmake_install.cmake
/compile_commands.json
/rules.ninja
/tags
